.blink-border {
    animation: blink-border-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-border-animation 2s steps(10, start) infinite;
  }
  
  @keyframes blink-border-animation {
    50% {
      border-color: transparent;
    }
  }
  
  @-webkit-keyframes blink-border-animation {
    50% {
      border-color: transparent;
    }
  }
  
  .blink-background {
    animation: blink-background-animation 2s steps(30, start) infinite;
    -webkit-animation: blink-background-animation 2s steps(30, start) infinite;
  }
  
  @keyframes blink-background-animation {
    50% {
      background-color: transparent;
    }
  }
  
  @-webkit-keyframes blink-background-animation {
    50% {
      background-color: transparent;
    }
  }
  